
.addStation-container{
    display: flex;
    align-items: center;
	margin-left: 400px;
    gap: 180px;
    width: 38vw;
    height: 80vh;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
	margin-top: 40px;
	/* overflow-y: auto; */
}

.table-left{
    flex: 1;
    text-align: left;
	align-items: center;
	margin-left: 40px;
}

.table_body {
    width: 100%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

/* Styles for the right side form */
.table-right {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  
  .station-form {
    width: 250px;
  }
  
  .add-station-heading {
    /* Add styles for the heading "Add a new Station" */
    font-size: 24px;
    margin-bottom: 20px;
    padding: 7px 0;
    margin: 15px 0;
    width: 100%;
  }
  
  #select-line {
    /* Add styles for the "Select Line" label */
    display: block;
    margin-bottom: 8px;
    padding: 7px 0;
    margin: 15px 0;
    width: 100%;
  }
  
  select {
    /* Add styles for the select box */
    width: 100%;
    padding: 8px;
    color: #484848;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
 
  }
  
  input {
    /* Add styles for the input fields */
    border: none;
    border-bottom: 1px solid #a9a9a9;
    color: #484848;
    padding: 7px 0;
    margin: 15px 0;
    width: 100%;
  }

  
  .form-button {
    /* Add styles for the form button */
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 250px;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  

.table_header {
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.8rem;
}
#search-icon{
    width: 1.2rem;
    height: 1.2rem;
}


table {
    width: 100%;
}


table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

/* .table-right {
    flex: 1; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  } */

  /* .form-button {
    color: var(--text-color);
    background-color: var(--theme-color);
    border-radius: 6px;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    width: 20rem;
    margin-top: 30px;
    font-size: 20px;
  } */
/* 
.form-button:hover{
    background-color: var(--secondary-color); 
  } */


  #role {
	width: 20rem;
	height: 2.5rem;
	border: none;
	border-bottom: 1px solid #a9a9a9;
	color: #6e6b6b;
	padding: 7px 0;
	margin: 20px 0;}

.edit-button, .delete-button {
		background: none;
		border: none;
		cursor: pointer;
		margin-right: 10px;
		margin-left: 5px;
	  } 
  /* input {
    border: none;
    border-bottom: 1px solid #a9a9a9;
    color: #484848;
    padding: 7px 0;
    margin: 15px 0;
  } */
  
  input::placeholder {
    color: #6e6b6b;
  }
  
  .table-form input {
    width: 20rem;
  }

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}


thead th:hover {
    color:var(--secondary-color);
}


thead th.active,tbody td.active {
    color: var(--secondary-color);
}
.table_header .input-group {
    width: 45%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    box-shadow: 0 .005rem .1rem #0002;

    display: flex;
    justify-content: left;
    align-items: left;

    transition: .2s;
}

.table_header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table_header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table_header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}