.set-station-button{
    background: #eeeded;
    border:#9f9292 ;
    width: 100px;
    height: 29px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 15px;
}

.set-station-button:hover {
background: rgb(210, 210, 210);
} 

.service-container{
    padding-left: 80px;
    padding-right: 80px;
}
/* .table_body {
    display: none;
} */

#addDileveryStatus {
    display: none;
}

    #scheduleDropDown{
        width: 110px;
        height: 30px;
        border-color: #9f9292;
        border-width: 3px;
        border-radius: 3px;
        background-color: white; /* Adjust background color as needed */
        padding: 5px; /* Adjust padding as needed */
    }
    
    #scheduleDropDown select {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent; /* Transparent background for select box */
        font-size: inherit; /* Inherit font size from parent */
        border-radius: inherit; /* Inherit border-radius from parent */
        padding: 0; /* Reset padding */
        appearance: none; /* Remove default dropdown arrow */
        -webkit-appearance: none; /* Remove default dropdown arrow for WebKit browsers */
    }
    
#addDileveryStatus{
    color: rgb(255, 255, 255);
    background-color: rgba(45, 45, 228, 0.749);
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#searchParcels{
    width: 50px;
    height: 30px;
    border-color: #9f9292;
    border-width: 3px;
    border-radius: 3px;
    background: white;
}