.add-new-btn {
    color: var(--text-color);
    background-color: var(--theme-color);
    border-radius: 6px;
    border: none;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    width: 20vw;
    font-size: 15px;
    align-self: flex-end;
  }
/* .form-button.table{
    
    margin: 0;
    padding: 0;
    font-size: 15px;
  
} */