body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin: 0;
    font-size: 3em;
    color: #ff4040;
  }
  
  p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #333;
  }
  