.train-container {
  display: flex;
  /* align-items: center; */
  margin-left: 100px;
  gap: 270px;
  width: 42vw;
  height: 60%;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
margin-top: 30px;
/* overflow-y: auto; */
}