.title1{
    /* font-size: 1.06rem; */
    color: rgb(22, 22, 22);
    margin-top: 0;
    margin-bottom: 15px;
}
.title2{
    color:rgb(84, 84, 84);
    margin-bottom: 10px;
}
.card-1, .card-2{
    /* border: black solid 1px; */
    padding: 1.25rem 1.5rem;
    background-color: white;
    /* height: 80%;
    width: 80%; */
    /* align-items: center; */
    margin: 1rem auto;
    /* overflow-x: scroll; */
    /* padding: 0 2%; */
    /* margin-left: 100px; */

}
.info{
    padding: 1rem 1.5rem;
    padding-bottom: 0rem;
}
.Uname , .Email-l, .Name, .Gen-l, .homeSt, .tel-no{
    font-size: 15px;
    font-weight: 500;
}
.Username,.email, .Fname, .gen , .homeStation, .tel{
    width: 17rem;
    height: 2.5rem;
    border: none;
    /* border-bottom: 1px solid #a9a9a9; */
    box-shadow: 2px;
    color: #484848;
    padding: 7px;
    margin-left: 15px;
    background: #e2e2e2;
    border-radius: 5px;
    /* margin: 15px 0; */
    /* justify-content: right;
    align-items: right;
    align-content: right;
    float: right; */
    position: relative;
    display: ruby-text;

    
    
}
.info1, .info2 ,.info3{
    display: flex;
    margin-bottom: 30px;
}
.Email-con, .Gender-con, .tel-con{
    margin-left: 150px;
}
.edit-btn {

    color: rgb(255, 255, 255);
    background: rgba(0, 34, 184, 0.784);
    padding: 5px;
    width: 70px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    float: inline-end;

}
.change-pw{
    color: rgb(255, 255, 255);
    background: rgba(0, 34, 184, 0.784);
    padding: 5px;
    width: 160px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.delete-acc {

    color: rgb(255, 255, 255);
    background: #c84040e4;
    padding: 5px;
    width: 160px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    float: inline-end;

}
.card-2{
    text-align: center;
    width:30%;
}
.edit-btn:hover{
    background: var(--secondary-color);
}
.change-pw:hover{
    background: var(--secondary-color);
}
.delete-acc:hover{
    background: rgba(114, 2, 2, 0.942);
}
.card-2 img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.dp{
    display: block;
    width: 200px;
    background: #e3362c;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 26px;
}
.dp:hover{
    background: rgba(114, 2, 2, 0.942);
}
.input-dp{
    display: none;
}
h1 {
    font-size: 20px;
    margin-bottom: 15px;
    /* margin-left: 10px; */
}
body{
    background-color: #f1f0f0;
}


.table_header {
    width: 103%;
    display: flex;
}
.edit-modal, .Cpw-modal,.Chng-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: white;
    /* width: 900px;
    height: 600px; */
    padding: 30px;
}
#edit-fname,#edit-lname,#editgender,#edit-email,#edit-telno, #current-pw, #password , #cpassword{
    border: none;
    border-bottom: 1px solid #a9a9a9;
    color: #484848;
    padding: 7px 0;
    margin: 15px 0;
    font-size: medium;
}
#edit-fname:focus, #edit-lname:focus, #edit-email:focus, #edit-telno:focus, #current-pw:focus,npassword:focus, #cpassword:focus{
    border-bottom: 2px solid black;
}
#editgender:focus {
    border-bottom: 2px solid black;
}
input::placeholder {
    color: #6e6b6b;
}
.editing-form input {
    width: 100%;
}
dialog::backdrop {
    background-color: rgba(41, 40, 40, 0.533);
    opacity: 0.45;
}
.buttons {
    position:;
    top: 10px;
    right: 10px;
}
.form-clear-button {
    color: var(--text-color);
    background-color: #c84040e4;
    border-radius: 6px;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    width: 7rem;
    margin-top: 30px;
    font-size: 20px;
    margin-inline-end: 30px;
}

.editform-submit-button {
    color: var(--text-color);
    background-color: var(--theme-color);
    border-radius: 6px;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    width: 12rem;
    margin-top: 30px;
    font-size: 20px;
}

.editform-submit-button:hover{
background-color: var(--secondary-color); 
}
  

.form-clear-button:hover{
    background-color: rgba(114, 2, 2, 0.942); 
}

/* wrapper */
.wrapper.active .content{
display: block;
border: black;
}
.select-btn{
    position: relative;
    /* font-size: 13px; */
    margin-left: 10px;
    padding-left: 10px;
    /*padding-left: 100px;
    text-align: 100px; */
    /* width: 20rem;
    height: 2.5rem; */
    border: none;
    border-bottom: 1px solid #a9a9a9;
    color: #484848;
    padding: 7px 0;
    margin: 15px 0;
}
.select-btn, .options li{
    display: flex;
    align-items: left;
    cursor: pointer;
    
}
.select-btn i{
    position: absolute;
    /* font-size: 70px; */
    color: #474646;
    font-size: 12px;
    /* top: 0; */
    right: 0;
    padding-right: 5px;
    /* padding-left: 215px; */
}
.select-btn span {
    /* margin-left: 4px; */
    color: #5b5a5a;
}
#homest-edit{
    color: #333333;
}

.content{
    position: absolute;
      z-index: 100;
      background: white;
    display: none;
    margin-top:1px;
    background: #fff;
    border-radius: 7px;
    /* box-shadow: 0 10px 25px rgba(0,0,0,0.1); */
}
.content .search{
    position: relative;
}
.content .options{
    margin-top: 10px;
    max-height: 240px;
    overflow-y: auto;
    padding-right: 7px;
    
}
.options::-webkit-scrollbar{
    width: 7px;
}
.options::-webkit-scrollbar-track{
background: #f1f1f1;
border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
background: #ccc;
border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
background: #b3b3b3;
}
.options li{

height: 40px;
border-radius: 5px;
/* background: #f2f2f2; */
padding: 0 13px;
font-size: 15px;
}
.options li:hover{
background: #f2f2f2;
}
.search i{
    top: 50%;
    left: 15px;
    padding-left: 10px;
    color: #9f9292;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
}
.search input{
height: 40px;
width: 90%;
outline: none;
font-size: 14px;
/* border-radius: 5px; */
padding: 0 15px 0 43px;
border: 1px solid #B3B3B3; 
}
#checkpw-error,#spassword-error,#password-error {
    text-align: left;
    top: 100%;
    left: 2px;
    font-size: 14px;
    font-weight: 400;
    color: red;
}
/* .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: transparent;
  }
  
  .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .user-box input:focus ~ label,
  .user-box input:valid ~ label {
    transform: translateY(-20px);
    font-size: 14px;
    color: #333;
  }
  .fas fa-eye{
    padding-bottom: 50px;
  } */

  .user-box {
    position: relative;
  }
  
  .user-box input {
    padding-right: 30px; /* Adjust this value to provide more space for the icon */
  }
  
  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the right position as needed */
    transform: translateY(-50%);
    cursor: pointer;
  }