@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Merriweather');
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: style none;
  box-sizing: border-box;
}

:root {
  --body-color: #ffffff;
  --theme-color: #5271FF;
  --secondary-color: #29499c;
  --secondary-text-color: #7c7c7c;
  --text-color: #ffffff;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
} 

.container {
  width: 100%;
  /* min-height: calc(100vh-80px); */
  display: flex;
  gap: 10px;
  /* overflow: hidden; */
}

.sidebar{
  position: fixed;
  z-index: 1000;
  top: 80px;
  width: 300px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color:white;
  transition: all 0.3s ease;
  padding: 24px ;
  border-radius: 30px 30px 30px 30px;
  border-top: 1px solid #ffffff;
  margin-bottom: 10px;
  /* margin-top: 2px; */
  

  
}

/* .sidebar {
  position: fixed;
  top: 80px; 
  left: 0;
  width: 300px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  transition: all 0.3s ease;
  padding: 24px;
  border-radius: 30px;
  border-top: 1px solid #ffffff;
  margin-bottom: 10px;
} */
/* box shadow for sidebar */
.sidebar{
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

/* colors of paras inside the sidebar should be white */
.sidebar p{
  color: #000000;
}





.sidebar .head{
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #757575;

}

.user-img{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.user-img img{
  width: 100%;
  object-fit: cover;
}

.user-details .title{
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 10px;
}

.user-details .name{
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  
}

.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu ul li{
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}

.menu ul li a{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s ease;


}


.menu ul li > a:hover,
.menu ul li.active > a{
  background-color: var(--theme-color);
  color: #ffffff;
}

.menu ul li .icon{
  font-size: 18px;
}
.menu ul li .text{
  flex:1 ;
}
.menu ul li.active .arrow{
  transform: rotate(180deg);
  transition: all 0.3s ease;

}
.menu ul li .arrow{
  font-size: 14px;
}
.Sidenav{
  flex: 1;
}
.menu ul li .fas {
  font-size: 14px;
}
.menu .sub-menu{
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #ffffff;
  display: none;
}
.menu .sub-menu li a{
  padding: 10px 8px;
  font-size: 12px;
}
.menu-btn{
  position: absolute ;
  right: -14px; 
  top:3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #757575;
  border: 2px solid #f6fff6;
  cursor: pointer;
}
.menu-btn:hover i {
  color: #000000;
}

.menu-btn i{
  transition: all 0.3s ease;
}
.sidebar.active {
  width: 92px ;

}
.sidebar.active .menu-btn i{
  transform: rotate(180deg);
}

.sidebar.active .user-details{
  display: none;
}

.sidebar.active .menu .title{
  text-align: center;
}
.sidebar.active .menu ul li .arrow{
  display: none;
}
.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar.active .menu > ul > li > a .text{
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px; 
  color: #ffffff;
  background-color: black;
  opacity: 0;
  visibility: hidden ;
  transition: all 0.3s ease;
}
.sidebar.active .menu > ul > li > a .text::after{
  content: "";
  position: absolute;
  left: -5px;
  top: 20%;
  /* transform: translateY(-50%); */
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 2px  ;
  transform: rotate(45deg);
  z-index: -1;
}
.sidebar.active .menu > ul > li > a:hover .text{
  left: 50px;
  opacity: 1;
  visibility: visible;
}
.sidebar.active .menu .sub-menu{
  position: absolute;
  top: 0;
  left: 20px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #f6f6f6;
  background-color: #ffffff;
  box-shadow: 0px 10px 8px rgba(0,0,0,0.1);
  
}
.service-view {
  margin-top: 50px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 2rem 0;
}




.service-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  /* box-shadow: 0 .4rem .8rem #0005; */
  border-radius: .8rem;
  /* height: fit-content; */
  /* width: fit-content; */
  max-height: 80%;
  /* max-width: 80%; */
  /* overflow: auto; */
}
main{
  flex: 1;
  margin-top: 80px;
  margin-left: 100px;
  width: 100%;
  padding: 24px 20px 20px 20px;

}
main .title{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.breadcrumbs{
  display: flex;
  grid-gap: 6px;
}
.breadcrumbs li,
.breadcrumbs li a{
  font-size: 14px;
  /* font-weight: 500; */
  color: #757575;
  /* text-transform: uppercase; */
  list-style: none;
  text-decoration: none; 
}
 .breadcrumbs li a{
  color: #757575;
}

 .breadcrumbs li a.active,
 .breadcrumbs li.divider{
  color: #8d8d8d;
  pointer-events: none;
}
.locate {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  /* margin-top: 20px; */
  margin-left: 30px;
}
main .info-data{

  display: grid;
  grid-gap: 20px;
  margin-top: 36px;
  grid-template-columns: repeat(auto-fit, minmax(254px, 1fr));
}

main .info-data .card{
  font-family: 'Merriweather', serif;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
  
}

/* animation to card hover */
main .info-data .card:hover{
  transform: translateY(-10px);
  transition: all 0.3s ease;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.2);
  
}
main .info-data .card .head{
  display: flex;
  align-items: center;
  gap: auto;
  /* margin-bottom: 20px; */
  justify-content: space-between;
}
main .info-data .card .head i{
  font-size: 70px;
  color: #5f5d5d;
  align-self: right;
  margin-right: 10px;
}
.card:hover:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  width: 20%;
  height: 0.2rem;
  transform: translateX(-50%);
  background-color: #5271FF;
}
/* main .info-data .card::before{
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 50%;
  width: 20%;
  height: 0.2rem;
  transform: translate(-50%);
  background-color: #5271FF;
} */


.head h2{
  font-family: 'Merriweather', sans-serif;
  color: #5271FF;
  /* padding-bottom: 100 px; */
  font-size: 2rem ;
}

.head p{
  font-size: 20px;
  font-weight: 600;
  color:#484848;
}

.card small{
  color: #9d9d9d;
  font-size: 10px;
  font-weight: 400;
  margin-top: 10px;
  display: block;
}
h2.count{
  font-size: 2rem;
  /* font-weight: 600; */
  /* color: #000000; */
  margin-bottom: 10px;
}
/* Add this to your CSS file */
.animated {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Canvas */
canvas#chart{
  box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
  background: white;
  max-width: 60%;
  max-height:90%;
  margin-top: 3rem;
  border-radius: 1.6rem;
  padding: 1.6em; ;
}
.donut-chart{
  box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
  background: white;
  max-width: 40%;
  max-height:90%;
  margin-top: 3rem;
  border-radius: 1.6rem;
  padding: 1.6em; ;
}
.charts{
  display: flex;
  gap: 20px;
  /* margin-top: 20px; */
  /* justify-content: center; */
  align-items:left;
}