@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Merriweather');
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: style none;
  box-sizing: border-box;
}

:root {
  --body-color: #ffffff;
  --theme-color: #5271FF;
  --secondary-color: #29499c;
  --secondary-text-color: #7c7c7c;
  --text-color: #ffffff;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
} 

.container {
  width: 100%;
  /* min-height: calc(100vh-70px); */
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.sidebar{
  position: -webkit-sticky;
  position:sticky;
  flex-grow: 2;
  /* overflow: auto; */
  /* top: 0; */
  z-index: 999;
  top: 90px;
  width: 300px;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color:white;
  transition: all 0.3s ease;
  padding: 24px ;
  border-radius: 30px 30px 30px 30px;
  border-top: 1px solid #ffffff;
  /* margin-bottom: 10px; */
  margin-top: 80px;
  

  
}

/* .sidebar {
  position: fixed;
  top: 80px; 
  left: 0;
  width: 300px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  transition: all 0.3s ease;
  padding: 24px;
  border-radius: 30px;
  border-top: 1px solid #ffffff;
  margin-bottom: 10px;
} */
/* box shadow for sidebar */
.sidebar{
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

/* colors of paras inside the sidebar should be white */
.sidebar p{
  color: #000000;
}





.sidebar .head{
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #757575;

}

.user-img{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.user-img img{
  width: 100%;
  object-fit: cover;
}

.user-details .title{
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 10px;
}

.user-details .name{
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  
}

.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu ul li{
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}

.menu ul li a{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s ease;


}


.menu ul li > a:hover,
.menu ul li.active > a{
  background-color: var(--theme-color);
  color: #ffffff;
}

.menu ul li .icon{
  font-size: 18px;
}
.menu ul li .text{
  flex:1 ;
}
.menu ul li.active .arrow{
  transform: rotate(180deg);
  transition: all 0.3s ease;

}
.menu ul li .arrow{
  font-size: 14px;
}
.Sidenav{
  flex: 1;
}
.menu ul li .fas {
  font-size: 14px;
}
.menu .sub-menu{
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #ffffff;
  display: none;
}
.menu .sub-menu li a{
  padding: 10px 8px;
  font-size: 12px;
}
.menu-btn{
  position: absolute ;
  right: -14px; 
  top:3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #757575;
  border: 2px solid #f6fff6;
  cursor: pointer;
}
.menu-btn:hover i {
  color: #000000;
}

.menu-btn i{
  transition: all 0.3s ease;
}
.sidebar.active {
  width:100px ;

}
.sidebar.active .menu-btn i{
  transform: rotate(180deg);
}

.sidebar.active .user-details{
  display: none;
}

.sidebar.active .menu .title{
  text-align: center;
}
.sidebar.active .menu ul li .arrow{
  display: none;
}
.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar.active .menu > ul > li > a .text{
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px; 
  color: #ffffff;
  background-color: black;
  opacity: 0;
  visibility: hidden ;
  transition: all 0.3s ease;
}
.sidebar.active .menu > ul > li > a .text::after{
  content: "";
  position: absolute;
  left: -5px;
  top: 20%;
  /* transform: translateY(-50%); */
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 2px  ;
  transform: rotate(45deg);
  z-index: -1;
}
.sidebar.active .menu > ul > li > a:hover .text{
  left: 50px;
  opacity: 1;
  visibility: visible;
}
.sidebar.active .menu .sub-menu{
  position: absolute;
  top: 0;
  left: 20px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #f6f6f6;
  background-color: #ffffff;
  box-shadow: 0px 10px 8px rgba(0,0,0,0.1);
  
}
.service-view {
  margin-top: 50px;
  /* margin-left: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: calc(100vh - 80px); */
  width: 100vw;
  padding: 2rem 0;
  flex-grow: 5;
  /* display: block;

  position: relative; */
  /* flex: 1; */
  height: calc(100vh - 90px);
  margin-top: 80px;
  overflow: scroll;
  overflow-x: hidden;
  /* margin-left: 100px; */
  width: 100%;
  padding: 24px 20px 20px 20px;

}




.service-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  /* box-shadow: 0 .4rem .8rem #0005; */
  border-radius: .8rem;
  /* height: fit-content; */
  /* width: fit-content; */
  max-height: 80%;
  /* max-width: 80%; */
  /* overflow: auto; */
}
main{
 flex-grow: 5;
  /* display: block;

  position: relative; */
  /* flex: 1; */
  height: calc(100vh - 90px);
  margin-top: 80px;
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 0px;
  /* margin-left: 100px; */
  width: 100%;
  padding: 24px 20px 20px 20px;

}
main .title{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.breadcrumbs{
  display: flex;
  grid-gap: 6px;
}
.breadcrumbs li,
.breadcrumbs li a{
  font-size: 14px;
  /* font-weight: 500; */
  color: #757575;
  /* text-transform: uppercase; */
  list-style: none;
  text-decoration: none; 
}
 .breadcrumbs li a{
  color: #757575;
}

 .breadcrumbs li a.active,
 .breadcrumbs li.divider{
  color: #8d8d8d;
  pointer-events: none;
}
.locate {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  /* margin-top: 20px; */
  margin-left: 30px;
}
main .info-data{

  display: grid;
  grid-gap: 20px;
  margin-top: 36px;
  grid-template-columns: repeat(auto-fit, minmax(254px, 1fr));
}

main .info-data .card{
  font-family: 'Merriweather', serif;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
  
}

/* animation to card hover */
main .info-data .card:hover{
  transform: translateY(-10px);
  transition: all 0.3s ease;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.2); 
}
main .info-data .sm{
  transition: transform 0.5s ease;
  cursor: pointer;
}

main .info-data .sm:hover{
  transform: scale(1.03);
  transition: all 0.3s ease;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.2);
  
}
/* change the hover to pops in */
/* main .info-data .sm:hover{
  transform: translateY(-10px);
  transition: all 0.3s ease;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.2);
  animation: fadeIn 1s ease-in-out;
} */

main .info-data .card .head{
  display: flex;
  align-items: center;
  flex-direction: row;
  /* gap: 10px; */
  /* margin-bottom: 20px; */
  justify-content: space-between;
}
main .info-data .card .head i{
  font-size: 70px;
  color: #5f5d5d;
  align-self: right;
  margin-right: 10px;
}
main .info-data .sm .head i{
  font-size: 50px;
  color: #5f5d5d;
  align-self: right;
  margin-right: 10px;
}
.card:hover:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  width: 20%;
  height: 0.2rem;
  transform: translateX(-50%);
  background-color: #5271FF;
}
/* main .info-data .card::before{
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 50%;
  width: 20%;
  height: 0.2rem;
  transform: translate(-50%);
  background-color: #5271FF;
} */


.head h2{
  font-family: 'Merriweather', sans-serif;
  color: #5271FF;
  padding-bottom: 100 px;
  font-size: 2rem ;
}

.head p{
  font-size: 20px;
  font-weight: 600;
  color:#484848;
}

main .info-data .sm .head p{
  font-size: 22px;
  font-weight: 600;
  color:#000000;
  line-height: 1.2;
  max-height: 4em;
  text-overflow: ellipsis;
  white-space: normal;
}

.card small{
  color: #9d9d9d;
  font-size: 10px;
  font-weight: 400;
  margin-top: 10px;
  display: block;
}
h2.count{
  font-size: 2rem;
  /* font-weight: 600; */
  /* color: #000000; */
  margin-bottom: 10px;
}
/* Add this to your CSS file */
.animated {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Canvas */
canvas#chart{
  box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
  background: white;
  max-width: 60%;
  max-height:90%;
  margin-top: 3rem;
  border-radius: 1.6rem;
  padding: 1.6em; ;
}
.donut-chart{
  box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
  background: white;
  max-width: 40%;
  max-height:90%;
  margin-top: 3rem;
  border-radius: 1.6rem;
  padding: 1.6em; ;
}
.charts{
  display: flex;
  gap: 20px;
  /* margin-top: 20px; */
  /* justify-content: center; */
  align-items:left;
}

.table-data{
  display: flex;
  gap: 20px;
}
.recent-trains{
  box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
  background: white;
  max-width: 60%;
  max-height:90%;
  margin-top: 3rem;
  border-radius: 1.6rem;
  padding: 1.6em; ;
}
.parcels{
  box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
  background: white;
  max-width: 100%;
  max-height:90%;
  margin-top: 3rem;
  border-radius: 1.6rem;
  padding: 1.6em; ;
}
.update{
  font-size: small;
  padding: 6px ;
  color: #000000 ;
  background-color: #4f4a4a1b;
  border-radius: 5px;
  border: 1px solid #0000001b;
}

.update:hover{
  background-color: var(--theme-color);
  color: #ffffff;
  transition: all 0.3s ease;
}
h3{
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}
.table-data .head{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.table-data .head a{
  margin-right: 5px;
  background-color: #5f5d5d;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  padding:6px;
  border-radius: 8px;
  transition: all 0.1s ease;
}

.parcels .parcel-list li{
  border: #0000001b;
  width: 500px;
  background-color: #7c7c7c1b;
  padding: 14px 20px;
  border-left: 10px solid #5271FF;
  border-radius: 10px; ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
  gap: 20px;
  margin-top: 20px;
  list-style: none;

}

.recent-trains .head a:hover{
  background-color: var(--theme-color);
  color: #ffffff;
  transition: all 0.1s ease;
}
.parcels .parcel-list .high-parcels {
  border-left: 10px solid orange;
}
.parcels .head{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 22px;
  justify-content: space-between;
}

.heading{
  display: flex;
}

.heading h1{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Your existing styles */

.notification-bar {
  background: #fff;
    border: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.12);
    box-shadow: 0 2px 8px rgba(0,0,0,.12);
    width: 380px;
    position: absolute;
    top: 70px;
    right: 20px;
    display: none;
    height: 500px;
}
.notification-bar::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -8px;
  left: 325px;
}
.notification-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.bell-notification:hover .notification-bar {
  display: flex;
}


.notification-item p {
  margin: 0;
  font-weight: bold;
}

.notification-time {
  font-size: 12px;
  color: #555;
}
.notification-item {
  display: flex;
  gap: 2px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.view-notification {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 5px 10px;
  /* background-color: #5271FF; */
  /* color: #fff; */
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.view-notification:hover {
  /* background-color: #29499c; */
}

/* For webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #d1d1d1; /* Set the color of the thumb (the draggable part) */
  border-radius: 4px; /* Add a slight border radius for a softer look */
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Set the color of the track (the non-draggable part) */
}


