
/* .container {
  display: flex;
  align-items: center;
margin-left: 30px;
  gap: 100px;

  height: 80vh;
  
  
margin-top: 30px;
} */

/* #compartments-error{
    text-align: left;
    top: 100%;
    left: 2px;
    font-size: 14px;
    font-weight: 400;
    color: red;
  } */

.add-price-heading {
    font-size: 24px;
    color: #333;
    font-weight: bold;
	margin-bottom: 15px;
	text-align: left;
	margin-top: 20px;
}

#role {
	width: 20rem;
	height: 2.5rem;
	border: none;
	border-bottom: 1px solid #a9a9a9;
	color: #6e6b6b;
	padding: 7px 0;
	margin: 20px 0;}

.edit-button, .delete-button {
		background: none;
		border: none;
		cursor: pointer;
		margin-right: 10px;
		margin-left: 5px;
	  } 
  input {
    border: none;
    border-bottom: 1px solid #a9a9a9;
    color: #484848;
    padding: 7px 0;
    margin: 15px 0;
    width: 20rem;
  }
  
  input::placeholder {
    color: #6e6b6b;
  }
  
  .form input {
    width: 20rem;
  }

  .left {
    box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  padding: 30px;
  text-align: left;
	align-items: center;
	margin-left: 40px;
  width: 100%;
  /* overflow-y: auto; */
  max-height: 80vh;
  overflow:auto;
}


.right {
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  margin-right: 60px;
}
.form-button {
    color: var(--text-color);
    background-color: var(--theme-color);
    border-radius: 6px;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    width: 20rem;
    margin-top: 30px;
    font-size: 20px;
  }

.form-button:hover{
    background-color: var(--secondary-color); 
  }

.table_header {
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.highlight {
  background-color: #FFFF00; /* Yellow background color for highlighting */
  transition: background-color 1s; /* Transition effect for highlighting */
}


/* .table_body {
    width: 100%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
    overflow: scroll;
} */

/* .table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
} */

table {
    width: 100%;
}


table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}


thead th:hover {
    color:var(--secondary-color);
}


thead th.active,tbody td.active {
    color: var(--secondary-color);
}
.table_header .input-group {
    width: 45%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    box-shadow: 0 .005rem .1rem #0002;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table_header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table_header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table_header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}
#station-error{
    text-align: left;
    top: 100%;
    left: 2px;
    font-size: 14px;
    font-weight: 400;
    color: red;
  }
/* .wrapper{
                          
                          width: 20vw;
                          margin: 20px 20px;
                          box-shadow: 0 10px 25px rgba(0,0,0,0.1);
                          /* box radius */
                          /* border-radius: 7px;
                        } */
                         
                        .select-btn, .options li{
                            display: flex;
                            align-items: left;
                            cursor: pointer;
                            
                          }
                          .select-btn{
                            position: relative;
                            font-size: 13px;
                            margin-left: 10px;
                            padding-left: 10px;
                           /*padding-left: 100px;
                           text-align: 100px; */
                              width: 20rem;
                              height: 2.5rem;
                              border: none;
                              border-bottom: 1px solid #a9a9a9;
                              color: #484848;
                              padding: 7px 0;
                              margin: 15px 0;}
                            .input-control.success input {
                              border-color: #09c372;
                              cursor: pointer;
                          
                          }
                          .select-btn i{
                            position: absolute;
                            /* font-size: 70px; */
                            color: #474646;
                            font-size: 12px;
                            /* top: 0; */
                            right: 0;
                            padding-right: 5px;
                            /* padding-left: 215px; */
                          }
                          
                          .content{
                            position: absolute;
                              z-index: 100;
                              background: white;
                            display: none;
                            margin-top:1px;
                            background: #fff;
                            border-radius: 7px;
                            /* box-shadow: 0 10px 25px rgba(0,0,0,0.1); */
                          }
                          .wrapper.active .content{
                            display: block;
                            border: black;
                            
  
                          }
                          .content .search{
                            position: relative;
                          }
                          .search i{
                            top: 50%;
                            left: 15px;
                            padding-left: 10px;
                            color: #9f9292;
                            font-size: 20px;
                            pointer-events: none;
                            transform: translateY(-50%);
                            position: absolute;
                          }
                          .search input{
                            height: 40px;
                            width: 90%;
                            outline: none;
                            font-size: 14px;
                            /* border-radius: 5px; */
                            padding: 0 15px 0 43px;
                            border: 1px solid #B3B3B3; 
                          }
                          /* .search input:focus{
                            padding-left: 42px;
                            border: 2px solid #4285f4;
                          }
                          .search input::placeholder{
                            color: #bfbfbf;
                          /* } */
                          .content .options{
                            margin-top: 10px;
                            max-height: 240px;
                            overflow-y: auto;
                            padding-right: 7px;
                            
                          }
                          .options::-webkit-scrollbar{
                            width: 7px;
                          }
                          .options::-webkit-scrollbar-track{
                            background: #f1f1f1;
                            border-radius: 25px;
                          }
                          .options::-webkit-scrollbar-thumb{
                            background: #ccc;
                            border-radius: 25px;
                          }
                          .options::-webkit-scrollbar-thumb:hover{
                            background: #b3b3b3;
                          }
                          .options li{
                          
                            height: 40px;
                            border-radius: 5px;
                            /* background: #f2f2f2; */
                            padding: 0 13px;
                            font-size: 15px;
                          }
                          .options li:hover{
                            background: #f2f2f2;
                 
  
                          }
                          .select-btn span {
                              margin-left: 4px;
                          }
                          

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;
        background-color:none;
    }

    .left, .right {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .form input, select {
        width: 100%;
    }

    .form-button {
        width: 20rem;
    }
    .style{
        background-color: white;
    }
}