#email-error {
    text-align: left;
    top: 100%;
    left: 2px;
    font-size: 14px;
    font-weight: 400;
    color: red;
}
#phone-error{
    text-align: left;
    top: 100%;
    left: 2px;
    font-size: 14px;
    font-weight: 400;
    color: red;
}