 .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }
  
  .login-text {
    color: #7c7c7c;
  }
  
  
  input {
    border: none;
    border-bottom: 1px solid #a9a9a9;
    color: #484848;
    padding: 7px 0;
    margin: 20px 0;
  }
  
  input::placeholder {
    color: #a9a9a9;
  }
  
  .login-form input {
    width: 25rem;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 500px;
}
  .login-left {
    flex: 1;
    text-align: left;
}
.login-image {
  width: 300%;
  overflow: hidden;
}

.login-right {
  flex: 3;
  text-align: center;
}
  .form-button {
    color: var(--text-color);
    background-color: var(--theme-color);
    border-radius: 6px;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    width: 25rem;
    margin-top: 50px;
    font-size: 20px;
  }
  
  .form-button:hover{
    background-color: var(--secondary-color); 
  }
  .form-links a {
    text-decoration: none;
    color: var(--secondary-text-color); 
  }
  .username::placeholder,
  .password::placeholder {
    font-size: 16px; 
    color: var(--secondary-text-color); 
  }
  .logo {
    width: 32%; 
  }