
.staff-container {
    display: flex;
    align-items: center;
	margin-left: 30px;
    gap: 140px;
    width: 65vw;
    height: 80vh;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
	margin-top: 30px;
	/* overflow-y: auto; */
}

.add-staff-heading {
    font-size: 24px;
    color: #333;
    font-weight: bold;
	margin-bottom: 10px;
	text-align: left;
	margin-top: 20px;
}

#role {
	width: 20rem;
	height: 2.5rem;
	border: none;
	border-bottom: 1px solid #a9a9a9;
	color: #6e6b6b;
	padding: 7px 0;
	margin: 20px 0;}

.edit-button, .delete-button {
		background: none;
		border: none;
		cursor: pointer;
		margin-right: 10px;
		margin-left: 5px;
	  } 
  input {
    border: none;
    border-bottom: 1px solid #a9a9a9;
    color: #484848;
    padding: 7px 0;
    margin: 15px 0;
  }
  
  input::placeholder {
    color: #6e6b6b;
  }
  
  .staff-form input {
    width: 20rem;
  }

  .staff-left {
    flex: 1;
    text-align: left;
	align-items: center;
	margin-left: 40px;
}
#email-error {
    text-align: left;
    top: 100%;
    left: 2px;
    font-size: 14px;
    font-weight: 400;
    color: red;
}
#phone-error{
    text-align: left;
    top: 100%;
    left: 2px;
    font-size: 14px;
    font-weight: 400;
    color: red;
  }
.staff-right {
  flex: 1; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.form-button {
    color: var(--text-color);
    background-color: var(--theme-color);
    border-radius: 6px;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    width: 20rem;
    margin-top: 30px;
    font-size: 20px;
  }

.form-button:hover{
    background-color: var(--secondary-color); 
  }

.table_header {
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}



.table_body {
    width: 100%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

/* .table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
} */

table {
    width: 100%;
}


table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}


thead th:hover {
    color:var(--secondary-color);
}


thead th.active,tbody td.active {
    color: var(--secondary-color);
}

.table_header .input-group {
    width: 45%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    box-shadow: 0 .005rem .1rem #0002;
    margin-left: 360px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table_header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table_header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table_header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}